<app-two-column>
    <div title>
        <h1>Support Tickets</h1>
    </div>

    <div asideContent>

    </div>
    <div mainContent>
        <mat-selection-list #ticketsList [multiple]="false">
            <mat-list-option *ngFor="let ticket of tickets" [value]="ticket.number">
                <div class="ticket">
                    <h4 mat-line>{{ticket.title}}</h4>
                    <div mat-line> {{ticket.number}} - {{ticket.status}} </div>
                </div>
            </mat-list-option>
        </mat-selection-list>
    </div>
</app-two-column>