<div class="text-center">
    <h1 class="text-center">Log In</h1>
    <p>Don't have an account? <a [routerLink]="['/register']"> Sign up.</a></p>
</div>

<div class="container">
    <form [formGroup]="loginFormGroup" (ngSubmit)="onSubmit()">
        <fieldset>
            <!-- TODO: Place email and password fields into separate shared component -->
            <div class="row">
                <div class="col-12">
                    <mat-form-field class="example-form-field" appearance="fill">
                        <mat-label>Enter your email</mat-label>
                        <input matInput type="text" title="Email" formControlName="email">
                        <mat-error *ngIf="email.hasError('required')">
                            Email is required
                        </mat-error>
                        <mat-error *ngIf="email.hasError('email')">
                            Email is not valid
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <mat-form-field class="example-form-field" appearance="fill">
                        <mat-label>Enter your password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" title="Password" formControlName="password">

                        <!-- Handled by browser -->
                        <!-- <button mat-icon-button matSuffix type="button" (click)="hide = !hide"
                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button> -->
                        <mat-error *ngIf="email.hasError('required')">
                            Password is required
                        </mat-error>
                        <mat-error *ngIf="password.hasError('minlength')">
                            Password requires a minimum of 8 characters
                        </mat-error>
                        <mat-error *ngIf="password.hasError('maxlength')">
                            Password requires a maximum of 100 characters
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="text-end">
                <button mat-raised-button type="submit" color="primary">Log In</button>
            </div>
        </fieldset>
    </form>
</div>